{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="https://cdn.datatables.net/v/bs-3.3.6/jqc-1.12.3/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/af-2.1.2/b-1.2.2/b-colvis-1.2.2/b-html5-1.2.2/b-print-1.2.2/cr-1.3.2/fc-3.2.2/fh-3.1.2/kt-2.1.3/r-2.1.0/rr-1.1.2/sc-1.4.2/se-1.2.0/datatables.min.css">
<style>
    
.dataTables_filter {
    float: right;
    margin-bottom: 1em;
}
.dataTables_filter:after {
    clear: both;
}
.dt-buttons a .glyphicon {
    visibility: hidden;
}
.dt-buttons a:hover .glyphicon {
    visibility: visible;
}

</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">

            <div class="text-center">
                <h1>List of Books</h1>
            
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered dataTable"  cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                        <thead>
                          <tr role="row">
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 137px;">Title</th>
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 215px;">Author</th>
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 100px;">ISBN</th>
                            <th class="sorting_desc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" aria-sort="descending" style="width: 44px;">Publisher</th>
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 93px;">Page Count</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th rowspan="1" colspan="1">Title</th>
                            <th rowspan="1" colspan="1">Author</th>
                            <th rowspan="1" colspan="1">ISBN</th>
                            <th rowspan="1" colspan="1">Publisher</th>
                            <th rowspan="1" colspan="1">Page Count</th>
                
                          </tr>
                        </tfoot>
                        <tbody>
                            {% for book in books %}
                            <tr role="row" class="odd">
                                <td><a href="{% url 'book_detail' book.id %}" style="text-decoration: none; color: black;">{{ book.title }}</a></td>
                                <td>{{ book.author }}</td>
                                <td>{{ book.isbn }}</td>
                                <td>{{ book.publisher }}</td>
                                <td>{{ book.page_count }}</td>
                           </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            
            
            <button class="btn btn-success"><a href="{% url 'import_books' %}" style="text-decoration: none; color: white;">Import Books</a></button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.datatables.net/v/bs-3.3.6/jqc-1.12.3/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/af-2.1.2/b-1.2.2/b-colvis-1.2.2/b-html5-1.2.2/b-print-1.2.2/cr-1.3.2/fc-3.2.2/fh-3.1.2/kt-2.1.3/r-2.1.0/rr-1.1.2/sc-1.4.2/se-1.2.0/datatables.min.js"></script>
<script>
    $(function () {
  $("#example").dataTable({
    paging: false,
    fixedHeader: {
      header: true
    },
    dom: "Bfrtip",
    buttons: [
      
     
     
    ]
  });
});

</script>

{% endblock %}
