{% extends 'base.html'%}
{% block content %}
    <div class="text-center">
    <h1>Import Books</h1>
    
    <form method="post">
        {% csrf_token %}
        <label for="num_books_to_import">Number of Books to Import:</label>
        <input type="number" name="num_books_to_import" required><br>

        <br>
        <button type="submit" class="btn btn-success">Import</button>
    </form>
    <br>

    <button class="btn btn-danger"><a href="{% url 'book_list' %}" style="text-decoration: none; color: white;">Back to Book List</a></button>

</div>
{% endblock %}
